<h1> Self-Administered Gerocognitive Exam (SAGE) </h1>

<div class="wrapper">
  <!-- Navigation -->
  <nav class="main-nav">
    <ul>
      <li><a href="/">About</a></li>
      <li><a href="#">Self Questionnaire</a></li>
      <li><a href="/cognition">SAGE: Cognition Test</a></li>
      <li><a href="/genome">Check Genetic Risk</a></li>
    </ul>
  </nav>

  <!-- Top Container -->
  <section class="top-container">
    <header class="showcase">
      <p><u> What is SAGE? </u> The <b>S</b>elf <b>A</b>dministered <b>G</b>erocognitive <b>E</b>xamination is a brief assessment designed to detect early signs of cognitive, memory, or thinking impairments. It evaluates your thinking abilities and helps inform physicians about how well your brain is working. <br><br>
      <u> Who should take SAGE? </u>You may want to take SAGE if you are concerned that you might have cognitive issues. Or you may wish to have your family or friends take the test if they are having memory or thinking problems. The difficulties listed can be early signs of cognitive and brain dysfunction. <br> <br>
      <u> Why take SAGE? </u>Unfortunately, many people do not seek help for these kinds of symptoms until they have experienced them for several years. There are many treatable causes of cognitive and thinking loss, and in some cases, medications or other treatments can be very effective-especially if provided when symptoms first begin.
      <p style="color: red">Remember that SAGE does not diagnose any specific condition. Discuss these results with your doctor. </p>
      <a href="/cognition/1" class="btn"> Begin Assessment </a>
    </header>
  </section>

  <!-- Footer -->
  <footer>
    <p> BrainSafe &copy; 2018 </p>
  </footer>

</div>
<!-- wrapper ends -->
