<h1> Self-Administered Gerocognitive Exam (SAGE) </h1>

<div class="wrapper">
  <!-- Navigation -->
  <nav class="main-nav">
    <ul>
      <li><a href="/">About</a></li>
      <li><a href="#">Self Questionnaire</a></li>
      <li><a href="/cognition">SAGE: Cognition Test</a></li>
      <li><a href="/genome">Check Genetic Risk</a></li>
    </ul>
  </nav>

  <!-- Top Container -->
  <section class="top-container">
    <header class="showcase">
      <form action="/sage" method="post">
        <label> <b> 1. What year is it? </b> </label><br>
        Answer: <input class="input-field" type="text" name="yearQuestion"><br> <br>

        <label> <b>2. James has 12 star stickers. He wants to divide them equally into 4 groups. How many stars are there in each group? </b></label><br>
        Answer: <input class="input-field" type="text" name="starsQuestion"><br> <br>

        <label> <b> 3. Name this object. </b> </label><br><br>
        <img src="https://image.spreadshirtmedia.net/image-server/v1/designs/15722749,width=178,height=178/basketbal-sporttas.png"><br>
        Answer: <input class="input-field" type="text" name="pictureQuestion">
        <input type="submit" value="Submit">
      </form>


    </header>
  </section>

  <!-- Footer -->
  <footer>
    <p> BrainSafe &copy; 2018 </p>
  </footer>

</div>
<!-- wrapper ends -->
