<form action="/login" method="post">
  <input class="input-field" type="text" name="username" placeholder="username"><br>
  <input class="input-field" type="password" name="password" placeholder="password"><br><br>
  <input type="submit" class="login-btn btn" value="Login"> <br>
</form>

<a href="/register"> No account? Click here to register</a>

 {{ riskAge }}
