<form action="/quiz" method="post">
  <label> Age: </label> <input class="input-field" type="text" name="age" placeholder="age"><br>
  <label> Do you have a first degree relative with dementia? </label> <input class="input-field" type="text" name="degreeone" placeholder="Y/N"><br>
  <label> Do you have a second degree relative with dementia? </label> <input class="input-field" type="text" name="degreetwo" placeholder="Y/N"><br>
  <label> How many cigarettes do you smoke daily? </label> <input class="input-field" type="text" name="age" placeholder="Number of cigarettes"><br>
  <label> How many portions sugary snacks (donuts, cake, etc) do you eat each day?  </label> <input class="input-field" type="text" name="food" placeholder="Y/N"><br>
  <label> How many hours of aerobic exercise do you  per week </label> <input class="input-field" type="text" name="food" placeholder="Y/N"><br>




  <input type="submit" value="Submit"> <br>
</form>
