<form action="/register" method="post">
  <input class="input-field" type="text" name="username" placeholder="username"><br>
  <input class="input-field" type="password" name="password" placeholder="password"><br><br>
  <input type="submit" class="login-btn btn" value="Register"> <br>
  {{ error }}
</form>
