:root {
  --primary: #B8C3E7;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104m 104, 0.8);
  --blue: #0040ff;
}


html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark)
}

body {
  background: #AFC2FF;
  margin: 50px 50px;
  line-height: 1.4;
}

td {
  text-align: center;
}



img {
  max-width: 100%;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
}

/* Navigation */
.main-nav ul {
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
}

.main-nav a {
  background: var(--primary);
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  color: var(--dark);
  text-transform: uppercase;
  font-size: 1.1rem;
  box-shadow: var(--shadow);
}

.main-nav a:hover {
  background: var(--blue);
  color: var(--light)
}

/*  Top Container */

.top-container {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    'showcase showcase button'
    'showcase showcase showcase';
}

.results-btn {
  /* grid-area: button; */
  float: right;
  margin: 0 0 0 3rem;
  background: #010D56;
  color: var(--light);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
}

.results-btn:hover {
  background: var(--blue);
  color: var(--light);
}

/* Showcase */
.showcase {
  grid-area: showcase;
  margin: 0 10rem 0 10rem;
  background: #FFCFEA;
  min-height: 320px;
  min-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: start;
  box-shadow: var(--shadow);
}

.showcase a {
  margin: 10rem 10rem 0 10rem;
  /* margin: 2rem 0 0 2rem; */
  font-size: 1.2rem;
  color:  black;
  align-self: center;
}



form {
  align-self: center
}


/* Footer */

footer {
  margin-top: 2rem;
  background: var(--dark);
  color: var(--light);
  text-align: center;
  padding: 0.2rem;
}

/* Media Queries */
@media(max-width: 700px){
  .top-container {
    grid-template-areas:
    'showcase showcase'
    'top-box-a top-box-b'
  }

  .showcase h1 {
    font-size: 2.5rem;
  }

  .main-nav ul {
    grid-template-columns: 1fr;
  }

  .info {
    grid-template-columns: 1fr;
  }

  .info .btn {
    display: block;
    text-align: center;
    margin: auto;
  }
}

@media(max-width: 500px){
  .top-container {
    grid-template-areas:
    'showcase'
    'top-box-a'
    'top-box-b';
  }
}
